---
layout: page
title: Willkommen
description: "Kay Pehnke Seite."
tags: [kaypehnke]
image:
  feature: korn2.jpg
  credit: KP
  creditlink: http://www.kay-pehnke.de

---

<ul class="post-list">
{% for post in site.posts %}
    {% if post.category == "blog" %}
        <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d.%m %Y" }}</time></span></a></article></li>
    {% endif %}
 {% endfor %}
</ul>