---
layout: page
title: Willkommen
description: "Kay Pehnke Seite."
tags: [kaypehnke]
image:
  feature: korn2.jpg
  credit: KP
  creditlink: http://www.kay-pehnke.de

---
[VHS Reutte - Workshop für Einsteiger/Anfänger am 12.04.2014](http://www.vhs-tirol.at/page.cfm?vpath=kurse&fachbereichId=0&kursnr=919&zid=244&tuwasid=2219 "Link: Workshop VHS Reutte")

[VHS Füssen - Workshop für Einsteiger/Anfänger am 17.05.2014](https://vhs-fuessen.de/Veranstaltung/cmx5178fb94b30fa.html "Link: Workshop VHS Füssen")


<ul class="post-list">
{% for post in site.posts %}
    {% if post.category == "blog" %}
        <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d.%m %Y" }}</time></span></a></article></li>
    {% endif %}
 {% endfor %}
</ul>