---
layout: page
permalink: /offers-group/
title: Gruppenworkshops
description: "Angebote für Gruppenworkshops."
image:
    feature: wu2.jpg
comments: false
share: false
published: true
---

<ul class="post-list">
{% for post in site.posts %}
    {% if post.category == "gruppenworkshop" %}
        <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date">{{ post.tags}}</span></a></article></li>
    {% endif %}
 {% endfor %}
</ul>   
   







<ul class="post-list">
 <li><article><a href="http://www.vhs-tirol.at/page.cfm?vpath=kurse&fachbereichId=48">Workshop für Anfänger/Einsteiger - Reutte (Österreich)<span class="entry-date">21.02.2015</span></a></article></li> 
 
 <li><article><a href="https://vhs-fuessen.de/Veranstaltung/cmx53bcfbb86e243.html">Workshop für Fortgeschrittene - Lechbruck <span class="entry-date">24.01.2015</span></a></article></li> 
 
 <li><article><a href="http://www.vhs-tirol.at/page.cfm?vpath=kurse&fachbereichId=48">Workshop für Makrofotografie - Reutte (Österreich)<span class="entry-date">10.01.2014</span></a></article></li> 

<li><article><a href="https://vhs-fuessen.de/Veranstaltung/cmx53904c3491431.html">Workshop für Fortgeschrittene - Nesselwang <span class="entry-date">13.12.2014</span></a></article></li> 
 <li><article><a href="https://vhs-fuessen.de/Veranstaltung/cmx53bcfc797a842.html">Workshop für Fortgeschrittene - Roßhaupten <span class="entry-date">Beendet</span></a></article></li>
 
<li><article><a href="http://www.vhs-tirol.at/page.cfm?vpath=kurse&fachbereichId=48">Workshop für Fortgeschrittene - Reutte (Österreich)<span class="entry-date">Beendet</span></a></article></li> 

<li><article><a href="https://vhs-fuessen.de/Veranstaltung/cmx53904cd7b26af.html">Workshop für 
 Einsteiger/Anfänger - Lechbruck <span class="entry-date">Beendet</span></a></article></li> 
 <li><article><a href="https://vhs-fuessen.de/Veranstaltung/cmx53904c8f4f9b9.html">Workshop für Einsteiger/Anfänger - Roßhaupten <span class="entry-date">Beendet</span></a></article></li> 
 <li><article><a href="https://vhs-fuessen.de/Veranstaltung/cmx53904bc421ca7.html">Workshop für Einsteiger/Anfänger - Nesselwang <span class="entry-date">Beendet</span></a></article></li> 
  <li><article><a href="https://www.facebook.com/kay.pehnke/posts/681656885246325">Workshop für Einsteiger/Anfänger - Steinhagen (Vorpommern)<span class="entry-date">Beendet</span></a></article></li> 
   <li><article><a href="">Workshop für Einsteiger/Anfänger - Pfronten<span class="entry-date">Entfällt leider</span></a></article></li>  



</ul>    