---
layout: page
permalink: /offers/
title: Einzel & Gruppen-Workshops
description: "Angebote."
image:
  feature: wurze2.jpg
  comments: false
share: false
---

<ul class="post-list">
{% for post in site.posts %}
    {% if post.category == "offer" %}
        <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date">{{ post.tags}}</span></a></article></li>
    {% endif %}
 {% endfor %}
</ul>   
   

<ul class="post-list">
 <li><article><a href=""><del>Workshop für Einsteiger/Anfänger - VHS Reutte</del><span class="entry-date"><del>12.04.2014</del></span></a></article></li>
 <li><article><a href="https://vhs-fuessen.de/Veranstaltung/cmx5178fb94b30fa.html">Workshop für Einsteiger/Anfänger - VHS Füssen/Pfronten<span class="entry-date">17.05.2014</span></a></article></li>