---
layout: page
permalink: /offers-group/
title: Gruppenworkshops
description: "Angebote für Gruppenworkshops."
image:
    feature: wu2.jpg
comments: false
share: false
published: true
---

<ul class="post-list">
{% for post in site.posts %}
    {% if post.category == "gruppenworkshop" %}
        <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date">{{ post.tags}}</span></a></article></li>
    {% endif %}
 {% endfor %}
</ul>   
   

<ul class="post-list">
 <li><article><a href="">Neue Gruppenworkshops<span class="entry-date">ab Oktober</span></a></article></li> 
  <li><article><a href="https://www.facebook.com/kay.pehnke/posts/681656885246325">Workshop für Einsteiger/Anfänger - Steinhagen <span class="entry-date">27.09.2014</span></a></article></li> 
<li><article><a href=""><del>Workshop für Einsteiger/Anfänger - Pfronten</del><span class="entry-date"><del>17.05.2014</del></span></a></article></li>
 <li><article><a href=""><del>Workshop für Einsteiger/Anfänger - Reutte</del><span class="entry-date"><del>12.04.2014</del></span></a></article></li>

</ul>    